@import "tailwindcss";

:root {
  background-color: #0a0a0a;
  color: #ededed;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: block;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
